<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Genres</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <a class="navbar-brand" href="/">Game Management</a>
        <ul class="navbar-links">
          <li><a href="/">Dashboard</a></li>
          <li><a href="/developers">Developers</a></li>
          <li><a href="/games">Games</a></li>
          <li><a href="/genres">Genres</a></li>
        </ul>
      </div>
    </nav>

    <div class="container content">
      <div class="header">
        <h1 class="title">Genres</h1>
        <a href="/genres/create">
          <button class="add-button">Add New Genre</button>
        </a>
      </div>

      <input type="text" class="search-box" placeholder="Search genres..." />
      <table class="developers-table">
        <thead>
          <tr>
            <th>NAME</th>
            <th>DESCRIPTION</th>
            <th>GAMES</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <% genres.forEach(genre => { %>
          <tr>
            <td><%= genre.name %></td>
            <td><%= genre.description%></td>
            <td class="details"><%= genre.games ? genre.games : 'None' %></td>
            <td class="action-links">
              <a href="/genres/<%= genre.id %>" class="view-link">View</a>
              <a href="#" class="edit-link">Edit</a>
              <form action="genres/<%=genre.id  %>/delete" method="POST">
                <button type="submit" class="delete-link">Delete</button>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

    <footer class="footer">
      <p>&copy; 2025 Game Management Dashboard. All rights reserved.</p>
    </footer>
  </body>
</html>
